* {
    padding: 10;
    margin: 10;
}
.game {
    width: 1280px;
    height: 720px;
    border: 4px solid black;
    margin: auto;
}
#dino {
    width: 120px;
    height: 70px;
    background-image: url(dino.jpg);
    background-size: auto 70px;
    position: absolute;
    top: 143px;
    margin-left: 20px;
    margin-right: 20px;
}
.jump{
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 143px;
    }
    15% {
        top: 100px;
    }
    30% {
        top: 115px;
    }
    50%{
        top: 70px;
    }
    80% {
        top: 115px;
    }
    100%{
        top: 143px;
    }
    120%{
    	  top: 90px;
    }
}
#cactus {
        width: 120px;
        height: 40px;
        position: absolute;
        top: 91px;
        left: 580px;
        background-image: url(cactus.png);
        background-size: 20px 40px;
        animation: cactus-block 1.2s infinite linear;
    }
@keyframes cactus-block {
    0%{
        left:500px;
    }
    100%{
        left: -20px
    }
}

